/* CSS Document */
*{padding:0;margin:0;border:0; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none;/*禁止链接长按弹出选项菜单*/}
body{font-family:SimHei,Microsoft YaHei,'Arial','黑体','微软雅黑';}
a:link{	-webkit-tap-highlight-color:rgba(0,0,0,0);/*禁止链接高亮*/-webkit-touch-callout:none;/*禁止链接长按弹出选项菜单*/ }
img {-webkit-touch-callout:none; border:none;/*禁止图片长按弹出选项菜单*/}
img.down {-webkit-user-select:text;-webkit-touch-callout:pop;}
input,textarea,select{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-webkit-user-select:text;}

.clear{clear:both;}
.none{display:none;}
.fl{display:inline;float:left!important;}
.fr{display:inline;float:right!important;}
.mt08{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px; }
.m15{margin:15px; clear:both; float:left;}
.p15{ padding:15px;}
a{text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
html{margin: 0;
padding: 0;}
body{ 
font-size:14px;
min-width: 320px;
max-width:640px;
margin: 0;
padding: 0;
height: 100%;
width: 100%;
overflow-x: hidden; background-color:#ffffff;
}
body,html,ol,ul,h1,h2,h3,h4,h5,h6,p,ul,li,th,td,dl,dd,form,fieldset,legend,input,textarea,select,span,div,table,tr{margin:0;padding:0;}
*{outline:none;}
ul,li{ list-style-type:none;}
a{ color:#697d91;}
a:hover{ color:#fc7946;}

.font_white{ color:#ffffff;}
.font_a{ color:#13334d;}
.font_b{ color:#697d91;}
.font_c{ color:#9dacb6;}
.font_d{ color:#fc7946;}
.font_red{ color:#e4362d;}
input{ -webkit-transition: box-shadow 0.30s ease-in-out;   //只让box-shadow属性做过渡效果！
       -moz-transition:  box-shadow 0.30s ease-in-out;      //firefox 
	   
	   }

input:focus{  outline:none;
     box-shadow: 0 0 2px rgba(103, 166, 217, 1);-moz-opacity:0.4;
	 -khtml-opacity: 0.4;
	 opacity: 0.4;  }

/*----------------小i知识门户 index---------------*/
.mhome{padding:0;min-width:300px; max-width: 640px; margin:0 auto; }
.mhome table tr td img{ width:100%;}
@media (min-width:320px){
	   .mhome table tr td img{ height:370px;}
}

@media (min-width:360px){
	  .mhome table tr td img{ height:416px;}
}
@media (min-width:375px){
	   .mhome table tr td img{ height:434px;}
}
@media (min-width:384px){
	    .mhome table tr td img{ height:444px;} 
}
@media (min-width:400px){
	   .mhome table tr td img{ height:463px;} 
}
@media (min-width:414px){
	   .mhome table tr td img{ height:479px;}   
}
@media (min-width:640px){
	   .mhome table tr td img{ height:740px;}   
}