body {
    background-color: #FEB0E0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color:#000;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    min-width: 320px;
		max-width: 640px;
		overflow-x: hidden;
}
.img-panel {
    width: 300px;
    height: 450px;
    padding: 30px 40px 10px 40px;
}
.img-slide {
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.welcome-word{
	margin-bottom: 10px;
  font: normal 12px microsoft yahei;
  text-align: center;
  letter-spacing: 1px;
}
dd{
	-webkit-margin-start: 2px;
}
.ani{
	font-size: 12px;
	font-weight: bolder;
}
#btnPlay{
    position: absolute;
    top: 10px;
    right:10px;
    z-index: 9999;
}


@media (min-width:320px){
	.img-panel{
		width: 230px;
		height: 345px;
	}
}
@media (min-width:360px){
	.img-panel{
		width: 280px;
		height: 420px;
	}
}
@media (min-width:411px){
	.img-panel{
		width: 300px;
		height: 450px;
	}
}
@media (min-width:435px){
	.img-panel{
		width: 320px;
		height: 480px;
	}
}